// 引入自定义字体
@font-face {
  font-family: 'Noto Sans SC';
  src: url('~@/theme/font/Noto_Sans/NotoSans-Regular.ttf') format('truetype'),
    url('~@/theme/font/Noto_Sans/NotoSans-Italic.ttf') format('truetype'),
    url('~@/theme/font/Noto_Sans/NotoSans-BoldItalic.ttf') format('truetype'),
    url('~@/theme/font/Noto_Sans/NotoSans-Bold.ttf') format('truetype');
}

* {
  // goole上的字体
  font-family: 'Noto Sans SC', 'vant-icon', 'Ionicons';
  font-weight: 300;
  letter-spacing: 1.2px;
  font-size: 24px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
  // // goole上的字体
  // font-family: 'Noto Sans SC';
  // font-weight: 400;
  // letter-spacing: 0.81px;
}

body * {
  box-sizing: border-box;
  outline: none;
}
