.van-form {
  width: 100%;
}

::v-deep(.van-field) {
  display: flex;
  width: 100%;
  align-items: center;
  .van-field__label {
    padding: 10px 0;
    span {
      font-size: 30px;

      font-weight: 400;
      color: #999999;
    }
  }
  .van-field__value {
    .van-field__body {
      .van-field__control {
        font-size: 30px;
        font-weight: 400;
        color: #434343;
      }
      .van-button {
        font-size: 30px;

        font-weight: 400;
        color: #3552d0;
        border: 0;
      }
    }
  }
}

::v-deep(.van-cell::after) {
  border-bottom: 1px solid #d8d8d8;
}

.van-cell--borderless::after,
.van-cell:last-child::after {
  display: block;
}
